@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    scroll-behavior: smooth;
    font-family: "Montserrat", sans-serif;
}

.fa-solid {
    color: #F27137;
}


/* Header Section */